<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SearchBus</servlet-name>
        <servlet-class>user.SearchBus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserPayment</servlet-name>
        <servlet-class>user.UserPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserThankYou</servlet-name>
        <servlet-class>user.UserThankYou</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewOrder</servlet-name>
        <servlet-class>user.UserViewOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInvoice</servlet-name>
        <servlet-class>user.UserInvoice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchBus</servlet-name>
        <url-pattern>/SearchBus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserPayment</servlet-name>
        <url-pattern>/UserPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserThankYou</servlet-name>
        <url-pattern>/UserThankYou</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewOrder</servlet-name>
        <url-pattern>/UserViewOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInvoice</servlet-name>
        <url-pattern>/UserInvoice</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
